.abc{
    color: brown;
}
.abc1{
    color: blue;
}
.abc2{
    color: red;
}
#ind{
    color: dimgrey;
}
#ind1{
    color: lawngreen;
}
#ind2{
    color: lightcoral;
}
.xyz{
    color: darkgreen;
}